version: '3.8'
services:
  backend:
    build: ./backend
    container_name: sensor-backend
    ports:
      - '5000:5000'
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: sensor-frontend
    ports:
      - '3000:3000'
    depends_on:
      - backend
